<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Article</title>
</head>
<body>

       <hi>
          {{ .article.Title }}
       </hi>

    <p>{{ .article.Content}}</p>

       <form action="" method="post" id="form">
           <textarea name="comment" id="comment" cols="30" rows="10" placeholder="Enter Comment here..."></textarea>
           <br>
           <input type="submit" value="Submit" />
       </form>

       <script>
           // alert(window.navigator.userAgent)
           let count = 0
           let check = false

           document.getElementById("comment").addEventListener("keyup", function (event) {
                if (event.target.value.length > 0 ) check = true
               console.log(event.target.value)
               if (event.target.value.length === 0 && event.keyCode !== 13 && check) {
                   count++
                   check = false

                   var xmlHttp = new XMLHttpRequest()
                   xmlHttp.open("POST", "/comment/count", false)
                   xmlHttp.send(JSON.stringify({
                       "count": count
                   }))
                   console.log(xmlHttp.responseText)
               }
           })
       </script>
</body>
</html>